div
  p -- Click one of the below buttons
  button onClick('handleBeerClick')
    --  Move to /beer
  button onClick('handleNestedChartClick')
    --  Move to /charts/nested-chart
  button onClick('handleDeepNestedChartClick')
    --  Move to /charts/nested-chart/deep-nested-chart
  p
    -- nested routes will show up below
  div.chart-container
    canvas key='pieChartEl' width='200' height='200'
  div.chart-body
    if(input.renderBody)
      include(input.renderBody)

