<!DOCTYPE html>
lasso-page package-path='./browser.json'
html
  head
    title
      -- Marko Router Demo
    meta name='viewport' content='width=device-width, initial-scale=1'
    link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'
    lasso-head
  body
    app path=input.path
    lasso-body
    init-components
