.card-container {
  position: absolute;
  padding: 5px;
  flex: 1 1 33%;
  transition: all 1.0s;
  opacity: 0;
  top: -50px;
  min-width: 350px;
}

.card-content {
  margin: 10px;
  border-top: thick solid #E22C41;
  border-radius: 5px 5px 10px 10px;
  background-color: white;
  color: #222D32;
}

.card-content-header {
  font-size: 1.3em;
  padding: 5px 20px 5px 20px;
}

.card-content-body {
  padding: 10px;
  text-align: center;
}

.card-icon {
  padding-right: 20px;
}

.card-slide-in {
  position: relative;
  opacity: 1;
  top: 0;
}
