<!DOCTYPE html>
lasso-page package-path='./browser.json'
html
  head
    title
      -- Marko Router Demo
    meta name="viewport" content="width=device-width, initial-scale=1"
    lasso-head
  body
    div id='application'
    lasso-body
    init-components
